
/* @font-face {
    font-family: Cinnabar;
    src: url(../fonts/Cinnabar.ttf);
} */
@font-face {
    font-family: LoveIs;
    src: url(../fonts/LoveIs.ttf);
}


html{
    font-family: LoveIs;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(90, 90, 90);
}

#total_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

 
}


.container{
    display: flex;
    flex-wrap: wrap;

    width: 480px;
    height: 500px;
    border: 2px solid rgb(114, 114, 114);
}

.check{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(173, 173, 173);
    -webkit-appearance: none;
    transition: background .15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.check:checked{
    background: rgb(82, 252, 138);
}

.food{
    background: rgb(252, 249, 82);
}

#info{
    display: flex;
    justify-content: space-between;
    width: 480px;
}

#count_points{
    width: 45%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3rem;
}

#timing{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3rem;
}

#description{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-right: 3rem;
}

#description img{
   
        width: 300px;
}

#description p{
    padding: 0;
    margin: 0;
}

#records{
    border: 1px solid yellow;
    height: 300px;
    padding: 1rem 2rem;
}

#record_title{
    color: yellow;
    font-size: 2.5rem;
}

#record_output{
    text-align: center;
    color: white;
    font-size: 2rem;
}




@media screen and (max-width:786px){
        #total_cont{
            flex-direction: column;
            justify-content: center;
        }

      
}  

@media screen and (max-width:576px){
 

    .container{
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }

    .check{
       
        width: 19px;
        height: 19px
    }
    #info{
        width: 80%;
        margin: 0 auto;
    }

    #count_points{
     
        font-size: 2rem;
    }
    
    #timing{
      
        font-size: 2rem;
    }

    #description{
        font-size: 1.5rem;
        padding-right: 0rem;
    }

    #description img{
   
        width: 200px;
}

#total_cont{
    padding-bottom: 20px;
}
    
} 